<a href="https://colab.research.google.com/github/dmburns1729/Class-Files/blob/main/Copy_of_9_12_22_SQL_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Exercise



[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading our [data](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing) into that database.

In [ ]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Load schools table
school = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRtLDEwVA8XXd7-XHjvaU7zkMhlRlFjXExCXJZKdUpa6xrYpyaxUifltjgaN5wTFRA_bg_UXyFOB1p7/pub?gid=1976095986&single=true&output=csv')
school.rename({'BACDistance (in Km)': 'BACDistance'}, axis=1, inplace=True)

# facilities table'
facility = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR5UNxWcE8ctwA8OFn2v0RmWfoIEUK_9dUqmXQCV3lbJwZ7JLjdDz6P3YbcFbCMHUxswF07RawZzX0V/pub?gid=601105917&single=true&output=csv')

In [ ]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DistrictName                1249 non-null   object
 1   EstablishmentCode           1249 non-null   object
 2   EstablishmentName           1249 non-null   object
 3   BRCName                     1249 non-null   object
 4   CRCName                     1249 non-null   object
 5   SchoolLevel                 1246 non-null   object
 6   ManagementName              1246 non-null   object
 7   LocalityHabitation          1221 non-null   object
 8   SubdivisionName             1241 non-null   object
 9   ConstituencyName            1249 non-null   object
 10  RevenueBlockName            1249 non-null   object
 11  CivicBodyName               1249 non-null   object
 12  WardName                    1249 non-null   object
 13  PostOfficeName              1249 non-null   object
 14  PhoneNo                     794 non-null    object
 15  FaxNo                       20 non-null     object
 16  EmailID                     182 non-null    object
 17  Website                     24 non-null     object
 18  LocatedInRuralOrUrban       1249 non-null   object
 19  DiseCode                    439 non-null    object
 20  EstablishedDate             1230 non-null   object
 21  DistrictHQDistance (in Km)  1246 non-null   float64
 22  CRCDistance (in Km)         1246 non-null   float64
 23  BACDistance                 1246 non-null   float64
 24  IsRecognized                1246 non-null   object
 25  RecognizedBy                1004 non-null   object
 26  ContactPersonName           0 non-null      float64
 27  LowestClass                 1246 non-null   object
 28  HighestClass                1246 non-null   object
 29  BoardName                   784 non-null    object
dtypes: float64(4), object(26)
memory usage: 292.9+ KB

In [ ]:
facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EstablishmentCode           1256 non-null   object
 1   EstablishmentName           1256 non-null   object
 2   IsLibraryAvailable          1256 non-null   object
 3   AvailableBooksCount         1256 non-null   int64
 4   IsFireExtgAvailable         1256 non-null   object
 5   ExtinguisherCount           1256 non-null   int64
 6   HOIRoomAvailable            1256 non-null   object
 7   IsStaffRoomAvailable        1256 non-null   object
 8   NoofStaffRoom               1256 non-null   int64
 9   IsLockerForStaffAvailable   1256 non-null   object
 10  IsSportsStoreRoomAvailable  1256 non-null   object
dtypes: int64(3), object(8)
memory usage: 108.1+ KB

### Create a SQLite Database

In [ ]:
# create sqlite engine and create empty database name school
# create connection to engine
engine = create_engine('sqlite:///school.db')
conn = engine.connect()

In [ ]:
# add the dataframe as a table in sqlite
# school details table

try:
  school.to_sql('schools', conn, if_exists='fail')
except:
  pass

# facility details table
try:
  facility.to_sql('facilities', conn, if_exists='fail')
except:
  pass

- Let's examine the first 5 rows of the schools table

In [ ]:
# Using SELECT view schools data
query = """
SELECT *
FROM schools
LIMIT 5
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance,IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,28126,58.0,8.0,16.0,Recognized,HRDD,None,Class 1,Class 5,None
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,15342,50.0,0.0,6.0,Recognized,HRDD,None,Class 1,Class 12,C.B.S.E.
2,2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,...,37257.38681,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",None,Class 1,Class 10,C.B.S.E.
3,3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,...,28856,60.0,6.0,6.0,Recognized,State Govt.,None,Class 1,Class 8,None
4,4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,None,Class 1,Class 10,C.B.S.E.

Select only the DistrictName and PhoneNo from the schools table

In [ ]:
# Using SELECT view DistrictName and PhoneNo from school
query = """
SELECT DistrictName, PhoneNo
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

  DistrictName             PhoneNo
0         East                None
1         East          3592263812
2         East  03592263809/263960
3         East                None
4         East          9832082915

What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [ ]:
# What is the average BACDistance? Rename the output column to "avg_bac_distance."
query = """
SELECT avg(BACDistance) AS anything
FROM schools
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

    anything
0  12.681822

What is the average BACDistance by SchoolLevel?

Sort the results from highest average to lowest average.

In [ ]:
# What is the average BACDistance by School Level?
# Sort the results from highest average to lowest average.
query = """
SELECT SchoolLevel, avg(BACDistance) as avg_distance
FROM schools
GROUP BY SchoolLevel
ORDER BY avg_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

  SchoolLevel  avg_distance
0         JHS     13.692647
1          PS     12.830787
2          SS     12.630872
3         SSS     10.863095
4         LPS      5.368421

Repeat the previous query, but only display results where the average distance is at least 10 km.

In [ ]:
# Repeat the previous query, but only display results where the average distance is at least 10 km.
query = """
SELECT SchoolLevel, avg(BACDistance) as avg_distance
FROM schools
GROUP BY SchoolLevel
HAVING avg_distance >= 10
ORDER BY avg_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

  SchoolLevel  avg_distance
0         JHS     13.692647
1          PS     12.830787
2          SS     12.630872
3         SSS     10.863095

Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [ ]:
# Join the two tables together (schools and facilities).
# Start by displaying all of the columns, but limit the resulting rows to just 2.
query = """
SELECT *
FROM schools
JOIN facilities
ON schools.EstablishmentCode = facilities.EstablishmentCode
LIMIT 2
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [ ]:
# Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.
query = """
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM schools as s
JOIN facilities as f
ON s.EstablishmentCode = f.EstablishmentCode
WHERE s.SchoolLevel = "PS"
AND f.IsLibraryAvailable = "Not Available"
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

                        EstablishmentName SchoolLevel IsLibraryAvailable
0        EASWARAMMA SAI GURUKOOL ACCADEMY          PS      Not Available
1     NEW GARDEN BOARDING SCHOOL (SAJONG)          PS      Not Available
2     SARASWATI SHISHU VIDHYALAYA, BUDANG          PS      Not Available
3        SAWNEY GOVERNMENT PRIMARY SCHOOL          PS      Not Available
4  UPPER PACHAK GOVERNMENT PRIMARY SCHOOL          PS      Not Available

Build off the previous query, but order the results alphabetically by name.

In [ ]:
# Build off the previous query, but order the results alphabetically by name.
query = """
SELECT s.EstablishmentName, s.SchoolLevel, f.IsLibraryAvailable
FROM schools as s
JOIN facilities as f
ON s.EstablishmentCode = f.EstablishmentCode
WHERE s.SchoolLevel = "PS"
AND f.IsLibraryAvailable = "Not Available"
ORDER BY s.EstablishmentName ASC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

,EstablishmentName,SchoolLevel,IsLibraryAvailable
0,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,PS,Not Available
1,10TH MILE GOVERNMENT PRIMARY SCHOOL,PS,Not Available
2,AAPGAZI GOVERNMENT PRIMARY SCHOOL,PS,Not Available
3,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,PS,Not Available
4,AHO-YANGTAM GOVERNMENT PRIMARY SCHOOL,PS,Not Available